# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = scrapy_explore.settings

[deploy:local]
url = http://localhost:6800/
username = scrapy
password = 1234
project = p_scrapy_explore
# project = z1ennrnrrn
